/* .home-page {
    text-align: center;
    background-color: #f0f8ff;
    padding: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding: 10px 20px;
    color:black;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navbar-links button {
    background: #015f4c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navbar-links button:hover {
    background:#015f4c;
  }
  
  .welcome-section {
    margin-top: 50px;
  }
  
  .welcome-section h1 {
    font-size: 2.5rem;
    color: #004080;
  }
  
  .welcome-section p {
    font-size: 1.2rem;
    color: #333;
  }
    */